//Colors
$primary-color: #292929;
$secondary-color: darken($primary-color, 50%);

$code: #dddddd;
$white: #fff;


//Font Sizes
$font-small: 0.875rem; 
$font-med: 1.025rem; 
$font-lg: 1.65rem; 
$font-xlg: 2.25rem; 